twilio
python-dotenv
gunicorn
autopep8
certifi
charset-normalizer
click
et-xmlfile
Flask
idna
itsdangerous
Jinja2
MarkupSafe
numpy
openai
openpyxl
pandas
pandas-stubs
pycodestyle
python-dateutil
pytz
requests
six
toml
tqdm
urllib3
Werkzeug